.color-primary{
    color: $primary-color;
}
.color-primary-bg{
    background: $primary-color;
}
.color-secondary{
    color: $secondary-color;
}
.color-secondary-bg{
    background: $secondary-color;
}
.color-yellow{
    color: $yellow-color;
}
.color-yellow-bg{
    background: $yellow-color;
}
